
.hide{
	display: none;
}
.transparent{
	opacity: 0;
}
.pop{
	/*position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;*/
}
.mask{
	position: fixed;
	z-index: 2;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
}

body{
	position: fixed;
	font-size: 0.3rem;
}
.content{
	height: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	overflow-y: auto;
	padding-bottom: 0.2rem;
	background-color: #03CDA5;	
}
.content img{
	display: block;
	width: 100%;
}
.fg{
	display: flex;
	flex-flow: row wrap;
    align-items: center;
    align-content: space-around;
    justify-content: flex-start;
}
.fg li{
	position: relative;
	margin: 0.25rem 0rem 0 0.15rem;
	width: 2.95rem;
}
.fg span{
	position: absolute;
	z-index: 1;
	right: 0.05rem;
	bottom: 0.15rem;
	width: 0.53rem;
	height: 0.52rem;
	background-image: url(../images/icon-select.png);
	background-repeat: no-repeat;
	background-size: 100%;
}
.fg .fg-chk:checked ~ span{
	background-image: url(../images/icon-select2.png);
}
.sign{
	margin: 0.15rem auto;
	width: 6.1rem;
	overflow: hidden;
	background-color: #fff;
}
.countdown_title{
	font-size: 0.4rem;
	content: #000;
	padding: 0 0 0.2rem;
	text-align: center;
}
.countdown{
	text-align: center;
}
.countdown span{
	display: inline-block;
	width: 0.4rem;
	height: 0.4rem;
	line-height: 0.4rem;
	text-align: center;
	background-color: #626262;
	color: #fff;
	font-size: 0.25rem;
}
.sign li{
	margin: 0.25rem auto 0; 
	width: 5.3rem;
	height: 0.65rem;
}
.sign .ipt{
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 0.85rem;
	padding-right: 0.1rem;
	width: 100%;
	height: 0.65rem;
	line-height: 0.65rem;
	border: 1px solid #ccc;
}
.sign .ipt::-webkit-input-placeholder {
	opacity: 0.8;
}
.sign .uname{
	background: url(../images/icon-user.jpg) no-repeat;
	background-size: 0.49rem auto;
	background-position: 0.15rem 0.1rem;
}
.sign .utel{
	background: url(../images/icon-tel.jpg) no-repeat;
	background-size: 0.4rem auto;
	background-position: 0.2rem 0.08rem;
}
.sign .uaddr{
	background: url(../images/icon-addr.jpg) no-repeat;
	background-size: 0.48rem auto;
	background-position: 0.15rem 0.1rem;
}
.sign .ufg{
	background: url(../images/icon-style.jpg) no-repeat;
	background-size: 0.4rem auto;
	background-position: 0.2rem 0.1rem;
}
.rule{
	margin-top: 0.2rem;
	text-align: center;
	font-size: 0.25rem;
}
.rule input{
	display: inline-block;
	vertical-align: middle;
	width: 0.2rem;
	height: 0.2rem;
	border: 1px solid #ccc;
}
.rule a{
	text-decoration: underline;
	color: #E83725;
}
.rule img{
	display: inline-block;
	width: 0.23rem;
}
.sign-btn{
	display: block;
	margin: 0.2rem auto 0;
	width: 3.42rem;
	height: 0.7rem;
	border: 0;
	background: url(../images/sign-btn.png) no-repeat;
	background-size: 100%;
}
.tips{
	padding: 0.2rem 0.3rem;
	font-size: 0.25rem;
	font-weight: bold;
	color: #000;
}
.rule-pop{
	position: fixed;
	z-index: 100;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);	
	width: 5.4rem;
	height: 8rem;
	background-color: #fff;
	border-radius: 0.5rem;
}
.rule-pop .rule-h{
	position: absolute;
	top: -0.1rem;
	left: 50%;
	-webkit-transform: translate(-50%,0);
	transform: translate(-50%,0);
	margin: 0 auto;
	width: 3rem;
	height: 0.7rem;
	background: url(../images/rule_h.png) no-repeat;
	background-size: 100%;
}
.rule-pop .rule-close{
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	-webkit-transform: translate(0.25rem,-0.25rem);
	transform: translate(0.25rem,-0.25rem);
	width: 0.67rem;
	height: 0.67rem;
	background: url(../images/rule_close.png) no-repeat;
	background-size: 100%;
}
.rule-pop .rule-txt{
	margin: 0.65rem auto 0;
	padding: 0 0.2rem;
	height: 7rem;
	overflow-y: auto;	
}
.rule-pop .rule-btn1{
	margin: 0 auto;
	width: 2.45rem;
	height: 0.63rem;
	background: url(../images/rule_btn1.png) no-repeat;
	background-size: 100%;
}

.yrank{
	margin: 0 auto;
	width: 6.1rem;
	background-color: #fff;
}
.yrank p{
	padding: 0.1rem 0;
	text-align: center;
	font-size: 0.5rem;
}
.yluck{
	position: relative;
	margin: 0.18rem auto 0;
	width: 6.1rem;
	padding: 0.3rem 0;
	background: url(../images/yluck_h.jpg) no-repeat;
	background-size: 100% auto;
	background-color: #feffa1;
}
.yluck p{
	padding: 0.1rem 0;
	text-align: center;
	font-size: 0.45rem;
	/* 文字渐变 */
	background:#f86379 -webkit-linear-gradient(left top,#f86379,#fee2e6 50%,#f86379) no-repeat 0 0;
	background-size:25% 100%; 
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align: center;
	font-weight: bold;
	text-decoration: underline;
	-webkit-animation: slideShine 3s linear infinite;
	animation: slideShine 3s linear infinite;
}
@-webkit-keyframes slideShine {
	0% {background-position: 0 0;}
	100% {background-position: 100% 100%;}
}
@keyframes slideShine {
	0% {background-position: 0 0; }
	100% {background-position: 100% 100%; }
}
.yluck .yluck_btn{
	position: absolute;
	top: 4.6rem;
	left: 2.1rem;
	width: 2.03rem;
	height: 0.66rem;
	background: url(../images/yluck_btn.gif) no-repeat;
	background-size: 100% auto;
}
.yfg{
	margin: 0.18rem auto 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 0.35rem;
	width: 6.1rem;
	background-color: #fff;
}
.yfg .title{
	height: 0.65rem;
	line-height: 0.65rem;
	font-size: 0.35rem;
}
.yfg dl{
	margin: 0.1rem 0;
}
.yfg dt{
	border: 0.05rem solid #03cda5;
	border-radius: 0.05rem;
}
.yfg dd{
	text-align: center;
	height: 0.6rem;
	line-height: 0.6rem;
}
.prize-pop{
	position: fixed;
	z-index: 100;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);	
	width: 4.85rem;
	height: 6.5rem;
	border: 0.01rem solid #957041;
	background-color: #FCEECB;
	border-radius: 0.5rem;
	box-shadow: 0 0 0.5rem #ffc169 inset;
}
.prize-pop .prize-h{
	position: absolute;
	top: -0.6rem;
	left: 50%;
	-webkit-transform: translate(-50%,0);
	transform: translate(-50%,0);
	width: 3.6rem;
	height: 1rem;
	background: url(../images/prize_h.png) no-repeat;
	background-size: 100%;
}
.prize-pop .prize-close{
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	-webkit-transform: translate(0.3rem,-0.65rem);
	transform: translate(0.3rem,-0.65rem);
	width: 0.67rem;
	height: 0.67rem;
	background: url(../images/prize_close.png) no-repeat;
	background-size: 100%;
}
.prize-pop .prize-txt{
	margin: 0.5rem auto 0;
	padding: 0 0.2rem;
	height: 5.8rem;
	overflow-y: auto;	
}
.prize-pop .prize-btn1{
	position: absolute;
	left: 50%;
	bottom: 0;
	-webkit-transform: translate(-50%,0.7rem);
	transform: translate(-50%,0.7rem);
	width: 2.45rem;
	height: 0.63rem;
	background: url(../images/prize_btn1.png) no-repeat;
	background-size: 100%;
}